.ls-table {}

.ls-table thead {
	font-weight: bold;
}

.ls-table tfoot {
	display: flex;
	gap: 5rem;
	justify-content: flex-end;
	padding: 1rem;
	width: 100%;
}

.ls-table-footer-perpage select {
	border: 0;
	cursor: pointer;
}

.ls-table-footer-navigation {
	display: flex;
	gap: 1rem;
}

.ls-table-footer-navigation button {
	background-color: aqua;
	border: none;
	cursor: pointer;
}